:root{
    --color1:rgba(216, 165, 121, 1);
    --color2:rgba(242, 198, 159, 1);/*Ladrilho claro*/
    --color3:rgb(140, 85, 53); /*Pç escura*/
    --color4:rgba(191, 130, 95, 1);
    --color5:rgba(63, 48, 38, 1); /*Ladrilho escuro*/
}

#board{
    display: grid;
    grid-template-columns: repeat(8,80px);
    grid-template-rows: repeat(8,80px);
    border: 1px solid black
}

.square{
    border: 1px solid transparent;    
}
.piece{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin: auto;
    margin-top: 10px;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.7);
    box-shadow: inset 0px 1px 6px 1px rgba(0,0,0,9);
}
.movs{
    border: 2px solid gold;
}

.capture{
    border: 2px solid orangered;
}

.dame{
    background-image: url(https://img.icons8.com/?size=512&id=22898&format=png);
    background-size: contain;
}

.selected{
    border: 3px solid red;
}

.relogio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 42px;
    border: 3px black solid;
    width: 200px;
    border-radius: 18px;
    overflow: hidden;
    background-color: grey;
    margin-top: 5px;
}

#time1, #time2{
    width: 600px;
    display: block;
    color: white;
    padding-inline: 15px;
    font-size: 25px;
    transition: 1s;
    

}
#time1{
    width: 600px;
    display: block;
    color: #696969;
}
.change > #time1   {
    background-color: var(--color1);
    color: white;

}

.change > .bi-stopwatch {
    background-color: var(--color1);
} 

.bi-stopwatch{
    background-color: var(--color3);
    transition: 1s;

    
}

.change > #time2 {
    background-color: grey;
    color: #696969;
}

#time2{
    background-color: var(--color3);
}

.scroll{
    transition: transform 0.8s;
    height: 400px;

}
.scroll:hover{
    transform: translateY(-35px)
    
}

.pContent{ 
    margin: 0;
    padding: 0;
    padding-top: 5px;
    display: grid;
    width: 700px;
    grid-template: 
    "navT navT navT" 20px
    "navL board navR"640px   
    "navB navB navB"20px
    /20px 640px 20px
    ;
}
.navR, .navL, .navT,.navB{
    background-color: var(--color5);
    color: white;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;

}
.navR, .navL{
    padding: 20px 0px;
    flex-direction: column;
}
.navT,.navB{
    flex-direction: row;
    padding: 0px 50px;

}
.navT{
    grid-area: navT;
    border: solid black;
    border-width: 2px 2px 0px 2px;
}

.navL{
    grid-area: navL;
    border: solid black;
    border-width: 0px 0px 0px 2px;
}
.board{
    grid-area: board;
}
.navR{
    grid-area: navR;
    border: solid black;
    border-width: 0px 2px 0px 0px;
}
ul.navR li,ul.navT li{
    transform: scaleY(-1);
}
.navB{
    grid-area: navB;
    border: solid black;
    border-width: 0px 2px 2px 2px;

}

.content{
    width: 700px;
    margin: auto;
}

#rules{
    background-color:var(--color1);
    height: auto;
    width: 201px;
    top: 35px;
    position: absolute;
    z-index: 1;
    border:black solid;
    border-width: 0px 1px 1px 1px;
    border-radius: 0px 0px 10px 10px;
    
}
body{
    background-image: url('https://img.freepik.com/fotos-premium/fundo-de-madeira-velho-grunge-texturizado-escuro_7182-1588.jpg');
    background-size: cover;
}

#lastMov ,#shRules{
    background-color: var(--color1);
    color: white;
    border-radius: 5px 5px 0px 0px;
    border: 1px black solid;
    height: 30px;
}

#menu{
    color: black;
    background-image: url('https://image.api.playstation.com/vulcan/ap/rnd/202011/0918/7cij6PoM76873UJ8GKeNe85F.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 340px;
    width: 600px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 40px;
}
#startButton{
    height: 40px;
    margin-bottom: 20px;
}
