#board{
    width: 640px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(8,80px);
    grid-template-rows: repeat(8,80px);
    background-color: antiquewhite;
    border: 1px solid black;
}

.square{
    background-color: white;
    border: 1px solid black;
    
}

.white{
    background-color: white;
}
.blue{
    background-color: blue;
}

.piece{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    
    margin: auto;
    margin-top: 10px;
}
.movs{
    border: 2px solid gold;
}

.capture{
    border: 2px solid orangered;
}

.player-1{
    display: flex;
    border: black 2px solid;
}
.player-1,.player-2{
    display: flex;
    border-radius: 18px;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    flex-grow: 1;
}

.playO{
    padding: 10px;
    height: auto;
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.player-2{
    
    border: blue 2px solid;
    color: white;
    flex-grow: 1;
    
}
#turn{
    background-color: goldenrod;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    margin-right:5px;
}

.jogadores{
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    width: 250px;
}

.dame{
    background-image: url(https://img.icons8.com/?size=512&id=22898&format=png);
    background-size: contain;
}

.selected{
    border: 3px solid red;
}

#result{
    position: absolute;
    top: 35%;
    left: 20%;
    background-color: white;
    border: 2px goldenrod solid;
    color: goldenrod;
}

.ocult{
    display: none;
    
}

.t0{
    background-color: beige;
    width: 840px;
    height: 735px;
    

}

.t1{
    border: 1px solid black;
    
}

.t2{
    border: 1px solid black;
    
}

.board{
    height: 670px;
    width: 670px;
    padding: 10px;
}

.anexos{
    width: 170px;
}

.content{
    width: 670px;
}
.contador{
    height: 50px;
    width: auto;
}

.relogio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    align-items: center;
    border: 1px black solid;
    width: 200px;
    border-radius: 18px;
    overflow: hidden;
    background-color: grey;
    margin-top: 10px;

}

.time{
    display: flex;
    flex-direction: row;
    color: white;
    padding-inline: 15px;
    font-size: 25px;
}
#time1{
    background-color: antiquewhite; /*Remover as cores e as bordas posteriormente*/
    border: 2px solid black;

}
#time2{
    background-color: cornflowerblue;
    border: 2px solid black;
}

#tabuleiro{
    background-color: brown;
    width: 640px;
    height: 640px;
}
.line{
    display: flex;
    flex-direction: row;
}
.colu{
    display: flex;
    flex-direction: column;
}

.cordE , .cordD{
    list-style: none;
    background-color: white;
    width: 18px;
    display: flex;
    flex-direction: column;
    height: 640px;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    align-self: flex-start;
}
.cordD{
    background-color: white;
    flex-direction: column-reverse;
}

.cordT{
    list-style: none;
    background-color: white;
    height: 18px;
    display: flex;
    flex-direction: row;
    width: 640px;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    align-self: flex-start;
}